In [1]:
import cuml
import cudf
import nvcategory

import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

In [2]:
#Read in the data. Notice how it decompresses as it reads the data into memory. 
gdf = cudf.read_csv('/rapids/Data/black-friday.zip')

In [3]:
#Taking a look at the data. We use "to_pandas()" to get the pretty printing. 
gdf.head().to_pandas()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
#Exercise: Let's do some descriptive statistics

In [5]:
#Hint: try some of the function you may know from Pandas like DataFrame.Series.max() or look up the documentation here:

In [6]:
#grabbing the first character of the years in city string to get rid of plus sign, and converting to int
gdf['city_years'] = gdf.Stay_In_Current_City_Years.str.get(0).stoi()

In [7]:
#Here we can see how we can control what the value of our dummies with the replace method and turn strings to ints
gdf['City_Category'] = gdf.City_Category.str.replace('A', '1')
gdf['City_Category'] = gdf.City_Category.str.replace('B', '2')
gdf['City_Category'] = gdf.City_Category.str.replace('C', '3')
gdf['City_Category'] = gdf['City_Category'].str.stoi()

In [8]:
#EXERCISE: replace city in the same way as City Category

In [9]:
#Hint: the Gender column only has values 'M' and 'F'

In [10]:
#Solution
gdf['Gender'] = gdf.Gender.str.replace('F', '1')
gdf['Gender'] = gdf.Gender.str.replace('M', '0')
gdf['Gender'] = gdf.Gender.str.stoi()

In [11]:
#Let's take a look at how many products we have
prod_count = cudf.Series(nvcategory.from_strings(gdf.Product_ID.data).values()).unique().count() #hideous one-liner
print("Unique Products: {}".format(prod_count))

Unique Products: 3623

In [12]:
#Let's take a look at how many primary product categories we have
#We do it differently here because the variable is a number, not a string
prod1_count = gdf.Product_Category_1.unique().count()
print("Unique Product Categories: {}".format(prod1_count))

Unique Product Categories: 18

In [13]:
#Filling missing values
gdf['Product_Category_2'] = gdf['Product_Category_2'].fillna(0)

In [14]:
#EXERCISE: Make a variable that's 1 if the product is multi-category, 0 otherwise

In [15]:
#Hint: think about how to combine the Product Category 2 and Product Category 3

In [16]:
#Solution: 
gdf['Product_Category_3'] = gdf['Product_Category_3'].fillna(0)
gdf['multi'] = ((gdf['Product_Category_2'] + gdf['Product_Category_3'])>0).astype('int')

In [17]:
#EXERCISE: Create a Gender/Marital Status Interaction Effect

In [18]:
#Hint: bother Gender and Marital Status are 0/1

In [19]:
#Solution:
gdf['gen_mar_interaction'] = gdf['Gender']*gdf['Marital_Status']

In [20]:
#Because Occupation is a code, it should converted into indicator variables
gdf = gdf.one_hot_encoding('Occupation', 'occ_dummy', gdf.Occupation.unique())

In [21]:
#Dummy variable from Int
gdf = gdf.one_hot_encoding('City_Category', 'city_cat', gdf.City_Category.unique())

#Dummy from string
cat = nvcategory.from_strings(gdf.Age.data)
gdf['Age'] = cudf.Series(cat.values())
gdf = gdf.one_hot_encoding('Age', 'age', gdf.Age.unique())

#EXERCISE: Create dummy variables from Product Category 1

In [22]:
#Solution:
gdf = gdf.one_hot_encoding('Product_Category_1', 'product', gdf.Product_Category_1.unique())

In [23]:
#We're going to drop th variables we've transformed
drop_list = ['User_ID', 'Age', 'Stay_In_Current_City_Years', 'City_Category','Product_ID', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3']
gdf = gdf.drop(drop_list)

In [24]:
gdf.columns

Index(['Gender', 'Occupation', 'Marital_Status', 'Purchase', 'city_years',
       'multi', 'gen_mar_interaction', 'occ_dummy_0', 'occ_dummy_1',
       'occ_dummy_2', 'occ_dummy_3', 'occ_dummy_4', 'occ_dummy_5',
       'occ_dummy_6', 'occ_dummy_7', 'occ_dummy_8', 'occ_dummy_9',
       'occ_dummy_10', 'occ_dummy_11', 'occ_dummy_12', 'occ_dummy_13',
       'occ_dummy_14', 'occ_dummy_15', 'occ_dummy_16', 'occ_dummy_17',
       'occ_dummy_18', 'occ_dummy_19', 'occ_dummy_20', 'city_cat_1',
       'city_cat_2', 'city_cat_3', 'age_0', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'age_6', 'product_1', 'product_2', 'product_3', 'product_4',
       'product_5', 'product_6', 'product_7', 'product_8', 'product_9',
       'product_10', 'product_11', 'product_12', 'product_13', 'product_14',
       'product_15', 'product_16', 'product_17', 'product_18'],
      dtype='object')

In [25]:
#We're going to make a list of all the first indicator variables in a series now so it will be
#easier to exclude them when we're doing regressions later

In [26]:
dummy_list = ['occ_dummy_0', 'city_cat_1', 'age_0', 'product_1', 'Purchase']

In [27]:
#All variables currently have to have the same type for some methods in cuML
for col in gdf.columns.tolist():
    gdf[col] = gdf[col].astype('float64')

In [28]:
test_size = round(len(gdf)*0.2)
train_size = round(len(gdf)-test_size)

In [29]:
gdf_test = gdf.iloc[0:test_size]

In [30]:
len(gdf_test)

107515

In [31]:
#EXERCISE: Make the training set in a similar way

In [32]:
#Solution:
gdf_train = gdf.iloc[test_size:]

In [33]:
#Deleting the main gdf because we're going to be making other subsets and other stuff, so it will be nice to have the memory. 
del(gdf)

In [34]:
y_train = gdf_train['Purchase']
X_reg = gdf_train.drop(dummy_list)

In [35]:
#I'm going to perform a hyperparameter search for alpha in a ridge regression
# for alpha in np.arange(0.0, 1, 0.01):
    
#     Ridge = cuml.Ridge(alpha=alpha, fit_intercept=True)
#     _fit = Ridge.fit(X_reg, y_train)
#     _y_hat = _fit.predict(X_reg)
#     _roc = roc_auc_score(y_train, _y_hat)
#     output['MSE_RIDGE_{}'.format(alpha)] = _roc

# print('MAX AUC: {}'.format(min(output, key=output.get)))

In [36]:
Ridge = cuml.linear_model.Ridge(alpha=.01, fit_intercept=True)
# _fit = Ridge.fit(X_reg, y_train)
# _y_hat = _fit.predict(X_reg)
# _roc = roc_auc_score(y_train, _y_hat)
# output['MSE_RIDGE_{}'.format(alpha)] = _roc

In [ ]:
%%time
_fit = Ridge.fit(X_reg, y_train)

In [38]:
# %%time 
# model = cuml.linear_model.LinearRegression()
# c = model.fit(X_reg, y_train)

In [39]:
%%bash
pip freeze | grep cuml

cuml==0+unknown
dask-cuml==0.6.0.dev0+12.g7348bb6

In [1]:
2+2

4

In [2]:
import os

In [3]:
print(os.getcwd())

/notebooks